# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Go
backend/*.exe
backend/.env

# Android / Gradle
mobile/.gradle/
mobile/.kotlin/
mobile/build/
mobile/app/build/
mobile/local.properties
mobile/captures/
mobile/.externalNativeBuild/
mobile/.cxx/
